
.app{
    background-color: #f7f7f7;
}

.container{
    display: flex;

    @media (max-width :'1150px') {
      margin: 0 auto;
      display: block;
      width: 90%;   
    }
   
  } 
  
  
   .menuContainer{
    flex: 0.2;
  } 
  
  .contentContainer{
    width: 100%;
     flex: 0.8;
  }
  

