.sample {
  border-radius: 1rem;
  background: var(--BG-Light-Elevation-1, #fff);
  padding: 1rem;
  width: 90%;
  height: 100%;
  margin-top: 1rem;

  .box {
    display: flex;
    justify-content: space-between;

    .title {
      color: #000;
      font-family: "Switzer", sans-serif;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .editComponent {
      display: flex;
      gap: 10px;
      object-fit: cover;
    }
  }

  .details {
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--Divider-primary, #e3e3e3);

    .beakerImg {
      object-fit: contain;
      width: 1.5rem;
      height: 1.5rem;
    }

    .infoDiv {
      margin-top: -5px;
      margin-bottom: 5px;

      .clientName {
        color: var(--Typography-Light-Light-Primary, #19201a);
        font-family: "Switzer", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .clientDescription {
        color: var(--Typography-Light-Light-Secondary, #4b5a4c);
        font-family: "Switzer", sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .quantityDiv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Divider-primary, #e3e3e3);

    .quantity {
      color: var(--Typography-Light-Light-Secondary, #4b5a4c);
      font-family: "Switzer", sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .priceDiv {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}

.addSample {
  border-radius: 1.125rem;
  background: var(--BG-Light-Elevation-1, #fff);
  width: 90%;
  margin-top: 2rem;
  display: flex;
  height: 100%;
  padding: 15px;
  justify-content: space-between;
  align-items: center;

  .addText {
    color: var(--Typography-Light-Light-Primary, #19201a);
    font-family: "Switzer", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}
