

.addSample {
  border-radius: 1.125rem;
  background: var(--BG-Light-Elevation-1, #fff);
  width: 90%;
  margin-top: 2rem;
  display: flex;
  height: 100%;
  padding: 15px;
  justify-content: space-between;
  align-items: center;

  .addText {
    color: var(--Typography-Light-Light-Primary, #19201a);
    font-family: "Switzer", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}
